[Service]
ExecStart=
ExecStart=/usr/bin/dockerd $OPTIONS \
          $DOCKER_NETWORK_OPTIONS
{% if docker_service_start_timeout != '' %}
TimeoutStartSec={{ docker_service_start_timeout }}
{% endif %}
